* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.navbar {
    display: flex;
    height: 11vh;
    background-color: #fff;
    align-items: center;
    margin: 30px 200px 30px 200px;
    border-radius: 5px;
}

.container.banner .navbar h1 {
    font-weight: bolder;
    font-size: 200% !important;
    color: black;
    margin-right: 15px;
    margin-top: 0px;
    padding-left: 35px;
}

.container.banner .navbar span {
    font-weight: 550;
    font-size: medium;
    color: rgba(0, 0, 0, .55);
    padding: 8px;
}


.container {
    width: 97.2vw;
    height: 94vh;
    background-color: #d5eff7;
    box-sizing: border-box;
    margin: 20px 20px;
    border: 1px solid #fff;
    border-radius: 10px 10px 0 0;
}

.container.banner {
    background-image: url(image.png);
    background-position: right 200px top 150px;
    background-size: 35vw 80vh;
    background-repeat: no-repeat;
    box-sizing: border-box;
}

.container h1 {
    font-weight: bolder;
    font-size: 270%;
    padding-left: 200px;
    margin-top: 95px;

}

.container button {
    display: flex;
    /* background-color: #1890ff; */
    background-color: white;
    border-color: #1890ff;
    border-radius: 5px;
    font-weight: 400;
    width: 13vw;
    height: 56px;
    background-repeat: no-repeat;
    align-items: center;
    text-align: end;
    margin-left: 200px;
    font-size: 14px;
    padding-left: 15px;
}

.container button span {
    padding-left: 8px;
}

.container button img {
    width: 40px;
}